.imitation {
    padding: 14px;
    margin: 10px;
    height: 50px;
    width: 500px;
    border:1px solid black;
    outline:black;
    border-radius: 30px
}

.roundbutton {
    margin: 10px;
    height: 50px;
    width: 180px;
    border: None;
    border-radius: 30px
}

.bluebutton
{
    background-color: #0d6efd;
    color: white;
}